{% extends 'Default:index.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('dokuwiki_translator_homepage') }}">Home</a> <span class="divider">/</span></li>
        <li class="active">Add a {{ repository.type|capitalize }}</li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>{{ repository.type|capitalize }} Added</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span8">
                <p>
                    Your {{ repository.type }} has been added, but needs to be activated first.
                </p>
                <p>
                    We have sent you an email with an <b>activation link</b> for your {{ repository.type }}.
                    After confirming your submission, your {{ repository.type }} will be available for translation.
                </p>
            </div>
            <div class="span4">
                {% include 'Template:box.html.twig' %}
            </div>

        </div>
    </div>

{% endblock %}
