{% extends 'dokuwikiTranslatorBundle:Default:index.html.twig' %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{{ path('dokuwiki_translator_homepage') }}">Home</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Add a Plug-In</a></li>
</ul>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Plug-in Translation</h1>
            </div>
        </div>
        <div class="span4">
            <p>
                Welcome to the plug-in translation page.
                The translation tool provides a simple translation interface.
                Everybody will be able to use this tool and create a translation
                of your plugin.
                When you've added your plug-in you will receive translations as git patch via email or as
                <a href="https://help.github.com/articles/using-pull-requests" target="_blank">GitHub pull request</a>.
            </p>
        </div>
        <div class="span4">
            <p>
                To use this tool your plug-in must
            </p>
            <ul>
                <li>a public Git repository.</li>
                <li>listed on the <a href="https://www.dokuwiki.org/plugins">plugins list</a></li>
                <li>
                    use the <a href="https://www.dokuwiki.org/devel:localization">DokuWiki localization functions</a>
                </li>
            </ul>
        </div>
        <div class="span4">
            <p>
                There are some limitations to the language files. It isn't allowed to use nested arrays in $lang array.
                The only allowed nested array is the js array.
            </p>
        </div>

        <div class="span8 offset2">
            {% if errors is defined %}
                <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <form action="{{ path('dokuwiki_translator_plugin_add') }}" class="form-horizontal" method="post">
                {{ form_widget(form) }}

                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Add my plug-in!" />
                    <a href="{{ path('dokuwiki_translator_homepage') }}" class="btn">
                        Abort
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}