{% extends 'dokuwikiTranslatorBundle:Default:index.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('dokuwiki_translator_homepage') }}">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="#">Add a Plugin</a></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Plugin Translation</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <p>
                    The DokuWiki translation tool allows you to add your DokuWiki
                    plugins to be translated by end users.
                    Everybody will be able to use this tool and create a translation
                    of your plugin.<br />
                    After adding your plugin you will receive translations as git patch via email or as
                    <a href="https://help.github.com/articles/using-pull-requests" target="_blank">GitHub pull
                        request</a>.
                </p>

                {% if errors is defined %}
                    <ul>
                        {% for error in errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form action="{{ path('dokuwiki_translator_plugin_add') }}" class="form-horizontal" method="post">
                    {{ form_widget(form) }}

                    <div class="controls">
                        <input type="submit" class="btn btn-primary" value="Add my plugin!"/>
                        <a href="{{ path('dokuwiki_translator_homepage') }}" class="btn">
                            Abort
                        </a>
                    </div>
                </form>
            </div>

            <div class="span6">
                <b>Notes</b>
                <ul>
                    <li>Your plugin needs to be available in a public Git repository</li>
                    <li>Your plugin has to be listed on the <a href="https://www.dokuwiki.org/plugins">official plugins
                            list</a></li>
                    <li>The repository URL must start with <em>ssh://</em>,
                        <em>http://</em> <em>https://</em> or <em>git://</em>.
                        Unfortunately not accepted: <em>git@...</em></li>
                    <li>The plugin name is the name of your plugin folder (lower case, no special chars)</li>
                    <li>If Readonly, submitting the English translations via this tool is disabled.</li>
                    <li>
                        It needs to use the <a href="https://www.dokuwiki.org/devel:localization">DokuWiki localization
                            functions</a>
                        with the following limitations:
                        <ul>
                            <li>No use of nested arrays in the $lang array except for the js sub array</li>
                            <li>No code execution in your language files</li>
                            <li>Only single line array value assignments</li>
                            <li>Comments will be removed automatically in translations</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
