<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}DokuWiki Localisation{% endblock %}</title>
    {% stylesheets filter='lessphp,cssrewrite' output='css/compiled-main.css'
            '@dokuwikiTranslatorBundle/Resources/public/less/start.less' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ asset('bundles/dokuwikitranslator/images/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ asset('bundles/dokuwikitranslator/images/apple-touch-icon.png') }}" />
</head>
<body>

{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>DokuWiki Localization</h1>
            </div>
        </div>
        <div class="span8">
            <img src="{{ asset('bundles/dokuwikitranslator/images/dwloc.png') }}" alt="" id="logo" />
            <p>
                This is the central hub for localization of the
                <a href="https://dokuwiki.org">DokuWiki</a> Open Source wiki software.
                All translation efforts are coordinated through the
                <a href="http://www.dokuwiki.org/mailinglist#i18n_mailing_list">
                    I18N Mailing List.
                </a>
                You are welcome to join and contribute.
            </p>
            <p>
                Bellow you see the translation progress of DokuWiki and some
                <a href="https://dokuwiki.org/plugins">DokuWiki Plug-Ins</a>.
                The completeness of a translation is indicated by the percent value
                (with English being the master language with always 100%).
                The Plug-Ins are ordered by popularity data from the
                <a href="https://www.dokuwiki.org/plugin:popularity">Popularity Feedback Plug-In</a>.
                DokuWiki translation with a status of less than 15% are not included in the official DokuWiki releases.
            </p>
            <p>

            </p>
            <p>
                <b>Please help with translating! Each tiny bit helps!</b>
                Next to each language you'll find a link to edit the current translations.
                Please use the linked tool to add new translations.
            </p>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th colspan="2">Translation progress</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="info">
                    <td class="name">
                        <a href="{{ path("dokuwiki_translator_show") }}">{{ coreRepository.displayName }}</a>
                    </td>
                    <td class="translation-progress">
                        <div class="progress progress-striped progress-info">
                            <div class="bar" style="width: {{ coreRepository.completionPercent }}%"></div>
                        </div>
                    </td>
                    <td class="translation-progress-text">
                        {{ coreRepository.completionPercent }}%
                    </td>
                    <td class="translation-update">
                            <a href="{{ path("dokuwiki_translate") }}">update</a>
                    </td>
                </tr>

                {% for repository in repositories %}
                        <tr>
                    <td class="name">
                        <a href="{{ path("dokuwiki_translator_show_plugin", {'name': repository.name}) }}">{{ repository.displayName|capitalize }}</a>
                    </td>
                    <td class="translation-progress">
                        <div class="progress progress-striped {% spaceless %}
                            {% if repository.completionPercent < 15 %}
                                progress-danger
                            {% else %}
                                {% if repository.completionPercent < 80 %}
                                    progress-warning
                                {% else %}
                                    progress-success
                                {% endif %}
                            {% endif %}
                            {% endspaceless %}">
                            <div class="bar" style="width: {{ repository.completionPercent }}%"></div>
                        </div>
                    </td>
                    <td class="translation-progress-text">
                        {% if repository.completionPercent is null %}
                            0%
                        {% else %}
                        {{ repository.completionPercent }}%
                        {% endif %}
                    </td>
                    <td class="translation-update">
                            <a href="{{ path("dokuwiki_translate_plugin", {"name": repository.name}) }}">update</a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span4">
            {% include 'dokuwikiTranslatorBundle::developer_box.html.twig' %}
            <div class="well well-small">
                <form action="{{ path('dokuwiki_translator_homepage') }}" method="get" class="form-inline">
                    <label for="language">Showing translation status for</label>
                    <select id="language" name="lang">
                        {% for language in languages %}
                            <option value="{{ language.code }}"
                                {% if language.code == currentLanguage %} selected="selected"{% endif %}}>
                                {{ language.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go" class="btn btn-primary" />
                </form>

                <form action="{{ path('dokuwiki_translator_homepage') }}" method="get" class="form-inline">
                    <label for="new__translation">
                        Is your language not listed, yet? Just enter the
                        <a href="http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes" target="_blank">
                            two letter iso code</a>:
                    </label>

                    <input id="new__translation" type="text" class="input-mini" placeholder="en" name="lang" />
                    <input type="submit" value="Add language" class="btn btn-primary" />
                </form>
            </div>
        </div>
        <div class="span12">
            <em>Note</em>: this list uses a (relatively) current development version of DokuWiki
        </div>
    </div>
</div>
{% endblock %}

<script src="{{ asset('bundles/dokuwikitranslator/js/jquery-1.8.2.min.js') }}"></script>
</body>
</html>
