
<table class="table table-striped table-condensed">
    <caption>
        <b>Plug-In details</b>
    </caption>
    <tr>
        <th>Plug-in</th>
        <td>
            <a href="https://www.dokuwiki.org/plugin:{{ repository.name }}" target="_blank">
                {{ repository.displayName }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Author</th>
        <td>{{ repository.author }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ repository.description }}</td>
    </tr>
    <tr>
        <th>Translations</th>
        <td>n/a</td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>{{ repository.tags }}</td>
    </tr>
</table>