{% extends '::base.html.twig' %}

{% block form_row %}
    {% apply spaceless %}
        <div class="control-group {% if errors|length %}error{% endif %}">
            {{ form_label(form) }}
            <div class="controls">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endapply %}
{% endblock form_row %}

{% block form_label %}
    {% apply spaceless %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endapply %}
{% endblock form_label %}

{% block form_errors %}
    {% apply spaceless %}
        {% if errors|length > 0 %}
            <span class="help-inline">
                    {% for error in errors %}
                        {{
                            error.messagePluralization is null
                            ? error.messageTemplate|trans(error.messageParameters, 'validators')
                            : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                            }}
                    {% endfor %}
            </span>
        {% endif %}
    {% endapply %}
{% endblock form_errors %}
